##
## Defines test users, passwords, and groups for unitTests.py
##
## Set these as usernames, passwords, and groups for 
## your particular test LDAP server

AUTHORIZED_GROUP_A=<example group A>
AUTHORIZED_GROUP_B=<example group B>

## User in AUTHORIZED_GROUP_A but not in AUTHORIZED_GROUP_B
VALID_USERNAME_A=<username A>
VALID_USER_PASSWORD_A=<password A>

## User in AUTHORIZED_GROUP_B but not in AUTHORIZED_GROUP_A
VALID_USERNAME_B=<username B>
VALID_USER_PASSWORD_B=<password B>

INVALID_USERNAME=invalidUsername
INVALID_USER_PASSWORD=invalidPassword

